
<form action="#" method="POST" class="removelink-form clear" novalidate>
	<legend class="title-registr tt">Eine Kategorie löschen</legend>

	<label for="mySelect" class="">Eine Kategorie aus der DB wählen:</label>
	<select name="category" id="mySelect" size="">
		<option value="test">...</option>
		<option value="html5">HTML5</option>
		<option value="css3">CSS3</option>
		<option value="css3">CSS2</option>
	</select>

	<input class="form-submit" type="submit" onclick="return false;" value="Удалить">
</form>

