<nav id="main-nav">
	<a href="/">Links</a>
	<a href="/addlink">Ein neuer<br>Link hinzufügen</a>
	<a href="/removelink">Eine Kategorie<br>löschen</a>
	<a href="http://google.ru"><div><img id="menu-img" src="images/google.png" alt="google"></div></a>
	<a href="/"><div>
		<script>
			document.write(new Date());
		</script>
	</div></a>
	<a href="" onclick="$('<form method=POST action=/logout>').submit();return false">output</a>
</nav>