<% layout("layout/page") -%>
<% block("title", "Links-Cloud"); -%>
<% block("top_title", "Die gespeicherte Links"); -%>

<section class="overlay-container-lw">
    <div class="footer-box"></div>
    <div class="overlay-content-lw">

        <form class="register-form" novalidate>
            <legend class="title-registr tt">Zulassung</legend>
            <div class="">
                <label for="myLogin" class="">Login:</label>
                <input type="text" name="login" id="myLogin" size="25" class="clear" value="admin">
            </div>
            <div class="">
                <label for="myPass" class="">Passwort:</label>
                <input type="password" name="password" id="myPass" size="25" class="clear" value="password">
            </div>
            <input class="form-submit" type="submit" onclick="return false;" value="Senden" >
        </form>

    </div>
    <div class="footer-box-x"></div>
</section>