<% layout('layout/page') -%>
<% block("title", "Links-Cloud"); -%>

<article class="item-outer cols col-4">
	<h3 class="middel-title cols col-12"> HTML5 </h3>
	<div class="inner-box cols col-12">
		<div class="item-inner">
			<div class="top-data row">
				<em class="date"><span> 23.03.2015 </span></em>
				<div class="remember-me">
					<a href="#">+</a>
					<form>
						<label for="item-storage"></label>
						<input type="checkbox" class="form-checkbox" name="item-storage" id="item-storage">
						<div class="wrap-checkbox">
							<div class="checkbox-overlay checkbox-overlay-checked"></div>
						</div>
					</form>
				</div>
			</div>
			
			<div class="text">
				<p>		
					Lorem ipsum dolor sit amet, consectetur adipisicing 	elit adipisicing elit.
				</p>	
			</div>
			<div class="links clear">
				<a class="" href=" # ">link</a>
				<a class="" href=" # ">löschen</a>
			</div>
		</div>
	</div>
</article>